*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 300vh;
    background-color: rgb(34, 34, 34);
    color: white;
    
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-top: 40px;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

header .logo{
    font-size: 38px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
header .links a{
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

header .links a:hover{
    letter-spacing: 1.5px;
}

header .button button{
    height: 30px;
    width: 80px;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.07s ease-in-out;
    cursor: pointer;
}

header button:hover{
    transform: scale(1.1)
}

/*Header Sticky Navs */ 

header.header.sticky,
header.header.sticky a{
    width: 100%;
    padding-top: 0;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
}

header.header.sticky .logo{
    font-size: 28px;
}

/*Banner*/

.banner{
    background-image: url('./pics/orchestra.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Academics */

.academic{
    min-height: 100vh;
    border-bottom: white 1px solid;
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-one{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    grid-template-columns: repeat(3,1fr);
    height: auto;
}

.headline{
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.card{
    height: 500px;
    width: 400px;
    border: 1px solid white;
}